# Xcode & iOS Development
#
# User-specific local settings
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts & derived data
DerivedData/
build/
.build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds & Swift Package Manager
timeline.xctimeline
playground.xcworkspace
.swiftpm/
Package.resolved

# OS Generated Metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.antigravityignore

# Fastlane & CI Output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Dependencies
Carthage/Build/
Pods/
